#coffeeFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#coffeeInput {
    background-color: rgba(5, 7, 29, 0.5);
    border-radius: 10px;
    color: antiquewhite;
    width: 20vw;
    min-width: 290px;
    font-size: large;
    text-align: center;
}

#coffeeSubmit {
    background-color: rgba(5, 7, 29, 0.75);
    border-radius: 10px;
    color: antiquewhite;
    width: 15vw;
    min-width: 190px;
    font-size: large;
    margin-bottom: 10px;
}

#coffeeResultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

#resultImage {
    border: 5px solid rgba(5, 7, 29, 0.75);
    border-radius: 10px;
    height: 65vh;
    width: 28vw;
    object-fit: cover;
}

