html body {
    width: 100%;
    height: 100%;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace; 
}

a {
    color: antiquewhite;
    :hover {
        cursor: pointer;
    }
}

#mainContainer {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: center;
    scrollbar-width: none;
}

#wrapper {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-image: url("../images/bg.jpg");
    background-size: cover;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}