{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1 class="mb-5">History</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Money Earned/Spent</th>
                <th>Time Of Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["symbol"] }}</td>
                    <td>{{ transaction["quantity"] }}</td>
                    <td>{{ transaction["transaction_type"] }}{{ transaction["cash_amount"] | round(2)}}</td>
                    <td>{{ transaction["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
