body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace; 
}

button {
    background-color: rgba(5, 7, 29, 0.336);
    border-radius: 20px;
    height: 75px;
    width: 475px;
    margin-bottom: 10px;
    color:antiquewhite;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 30px;
}

i {
    position: absolute;
    left: 20px;
}

.circleImg {
    border-radius: 100%;
    margin-top: 10px;
    height: 200px;
    width: 200px;
}

#title {
    font-size: 45px;
}

#mainContainer {
    display: grid;
    place-items: center;
    /* Vh is a Viewport Height unit, 100vh means 100% of the visible window height */
    height: 100vh;
}

#buttonContainer {
    width: 475px;
    margin-bottom: 10px;
}