{% extends "layout.html" %}

{% block head %}
<link href="{{url_for('static', filename='css/coffee.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/coffee.js')}}"></script>
</head>
<body>
    <div id="wrapper">
        <div id="mainContainer">
            <div id="coffeeFormContainer">
                <input id="coffeeInput" placeholder="Favourite type of Coffee" type="text">
                <input id="coffeeSubmit" type="submit" value="What is my vibe?">
            </div>
            <h1 id="audioStatus">What vibe does my coffee give?</h1>
            <div id="coffeeResultContainer">
                <img src="{{url_for('static', filename='images/coffee/coffee.png')}}" id="resultImage"> 
                <audio id="resultAudio" class="chromeAudio" controls autoplay loop></audio>
            </div>
        </div>   
    </div>
</body>
{% endblock %}